[Unit]
Description=VzUpgrade first-run service
After=syslog.target network.target
After=systemd-modules-load.service
After=prl-disp.service
Wants=systemd-modules-load.service
Wants=prl-disp.service

[Service]
Type=oneshot
ExecStart=/var/lib/vzupgrade/vzupgrade-post

[Install]
WantedBy=multi-user.target
